{
  "0": {
    "id": "server_id",
    "roles": {
      "everyone": "everyones_role_id",
      "bots": "bots_id"
    }
  },
  "1": {
    "id": "server_id",
    "roles": {
      "everyone": "everyones_role_id",
      "bots": "bots_id"
    }
  }
}
